*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    padding:10px;
    color: white;
    font-size: 30px;
    text-align: center;

}
.container{
    display:flex;
    border: 10px solid maroon;
    height: 500px;
}
.box1{
    background-color: lightblue
}
.box2{
    background-color: chocolate;
}
.box3{
    background-color: darkseagreen;
}
.box4{
    background-color: greenyellow;
}
.box5{
    background-color: lightsalmon;
}
.box6{
    background-color: steelblue;
}
.box7{
    background-color: violet;
}
.box8{
    background-color: darkkhaki;
}
.box9{
    background-color: hotpink;
}
.box10{
    background-color: mediumturquoise;
}